@model global.Duffy.Web.Models.RedirectModel

@{
    ViewBag.Title = "Redirect";
}

<h2>Redirect</h2>

<div>
    @{
        int number = 1;
    }

    <table>
        <colgroup>
            <col style="width: 30px;" />
            <col style="width: 55px;" />
            <col />
        </colgroup>
        @foreach (var linkInfo in Model.LinkInfo)
        {
            <tr>
                <td style="text-align: right;">@number.</td>
                <td style="text-align: center;">@linkInfo.Reference</td>
                <td>
                    @if (linkInfo.HttpsAvailable)
                    {
                        <a href="https:@linkInfo.Uri">@linkInfo.Name</a>
                    }
                    else
                    {
                        <a href="http:@linkInfo.Uri">@linkInfo.Name</a>
                    }
                </td>
            </tr>

            ++number;
        }
    </table>
</div>
