
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()

    <p>Score: <input type="text" id="score" disabled="disabled" /></p>
}

<input type="button" id="send" value="Send" />

<script src="https://www.google.com/recaptcha/api.js?render=6Lcd95UUAAAAAI-IFb_Sb4rX1uaCwPyJMWWiLtT0"></script>
<script>
    grecaptcha.ready(function () {
        console.log('greptcha.ready().');
    });

    $(document).ready(() => {
        console.log('$(document).ready().');
        $("#send").click(() => {
            grecaptcha.execute('6Lcd95UUAAAAAI-IFb_Sb4rX1uaCwPyJMWWiLtT0', { action: 'homepage' }).then(function (token) {
                console.log('Token: ', token);

                var form = $('#__AjaxAntiForgeryForm');
                var antiForgeryToken = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({

                    url: '/V1/Contact/Verify',
                    method: 'POST',
                    cache: false,
                    data: {
                        __RequestVerificationToken: antiForgeryToken,
                        Token: token
                    },
                    dataType: 'json',
                    success: function (responseDto) {
                        console.log('responseDto: ', responseDto);

                        $('#score').val(responseDto.Score);
                    },
                    error: function (xhr, status, error) {
                        console.log('xhr: ', xhr);
                        console.log('status: ', status);
                        console.log('error: ', error);
                    }
                });
            });
        });
    });
</script>